body {
    margin: 0px;
    background-colo: #ADC4E0;
}

.rectangle {
    position: absolute;
    height: 40px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #96ADC9;
    opacity: 100%;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    opacity: 65%;
    text-decoration: underline;
}

.lv-ru-en {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    position: relative;
    padding-top: 10px;
    padding-right: 10px;

}
.osta-logo {
    padding-top: 40px; 
    padding-left: 15px;
}